.navbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 16px;
  box-shadow: 0 1px 3px -2px black;
  height: 100vh; /* Full height */
  width: 250px; /* Width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  top: 0; /* Stay at the top */
  left: 0; /* Positioned to the left */
  background: linear-gradient(180deg, #fde1ff, #e1ffae22 60%);
  padding-top: 20px;
}

.nav-menu {
  list-style-type: none;
  padding: 0;
}

.nav-menu li {
  padding: 8px 16px;
  text-align: left;
}

.nav-menu li a {
  color: rgb(22, 16, 16);
  text-decoration: none;
  display: block;
}

.nav-menu li a:hover {
  background-color: #575757;
}
