<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text to Speech Converter</title>
    <link rel="stylesheet" href="../CSS/style.css">
</head>
<body>
    <div class="hero">
        <h1>Text to Speech <span>Converter</span></h1> 
        <textarea name="textarea1" id="textarea1" placeholder="Type what you want to listen to here..."></textarea>
        <div class="row">
            <select name="Select1" id="Select1"></select>
            <button>Listen</button>
        </div>
    </div>
    <script src="../Scripts/script.js"></script>
</body>
</html>
